/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, C:/Ruby23/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, C:/Ruby23/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, C:/Ruby23/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, C:/Ruby23/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, C:/Ruby23/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, C:/Ruby23/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, C:/Ruby23/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, C:/Ruby23/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, C:/Ruby23/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 88, icons/*.png */
.icons-sprite, .icons-back-hovered, .icons-back, .icons-left-arrow, .icons-next-hovered, .icons-next, .icons-right-arrow, .back, .back:hover, .next, .next:hover {
  background-image: url('../images/icons-sefd40cb88e.png');
  background-repeat: no-repeat;
}

/* line 84, C:/Ruby23/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-back-hovered {
  background-position: 0 0;
}

/* line 84, C:/Ruby23/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-back {
  background-position: 0 -64px;
}

/* line 84, C:/Ruby23/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-left-arrow {
  background-position: 0 -96px;
}

/* line 84, C:/Ruby23/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-next-hovered {
  background-position: 0 -112px;
}

/* line 84, C:/Ruby23/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-next {
  background-position: 0 -176px;
}

/* line 84, C:/Ruby23/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-right-arrow {
  background-position: 0 -208px;
}

/* line 64, photos/*.png */
.photos-sprite, .photos-cherchill, .photos-einstein, .photos-twan, .cherchill, .einstein, .twan {
  background-image: url('../images/photos-s14988976f2.png');
  background-repeat: no-repeat;
}

/* line 84, C:/Ruby23/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.photos-cherchill {
  background-position: 0 0;
}

/* line 84, C:/Ruby23/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.photos-einstein {
  background-position: 0 -150px;
}

/* line 84, C:/Ruby23/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.photos-twan {
  background-position: 0 -278px;
}

@font-face {
  font-family: 'Arial N';
  src: url("../fonts/arial-narrow.ttf");
}
/* line 21, ../sass/screen.scss */
.arrow, .back, .next {
  position: absolute;
  width: 32px;
  height: 32px;
  cursor: pointer;
}

/* line 29, ../sass/screen.scss */
.arrow-hovered, .back:hover, .next:hover {
  width: 64px;
  height: 64px;
}

/* line 35, ../sass/screen.scss */
.back {
  left: 5%;
  background-position: 0 -64px;
}
/* line 40, ../sass/screen.scss */
.back:hover {
  left: 3%;
  background-position: 0 0;
}

/* line 47, ../sass/screen.scss */
.next {
  right: 5%;
  background-position: 0 -176px;
}
/* line 52, ../sass/screen.scss */
.next:hover {
  right: 3%;
  background-position: 0 -112px;
}

/* line 59, ../sass/screen.scss */
.photo, .cherchill, .einstein, .twan {
  width: 128px;
  height: 128px;
  border-radius: 100px;
}

/* line 66, ../sass/screen.scss */
.cherchill {
  background-position: 0 0;
}

/* line 72, ../sass/screen.scss */
.einstein {
  background-position: 0 -150px;
}

/* line 78, ../sass/screen.scss */
.twan {
  background-position: 0 -278px;
}

/* line 84, ../sass/screen.scss */
.mainConteiner {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: 'Arial N';
}

/* line 93, ../sass/screen.scss */
html, body {
  height: 100%;
}

/* line 97, ../sass/screen.scss */
#root {
  height: 100%;
  background-color: black;
}

/* line 103, ../sass/screen.scss */
.Panel, .HightPanel, .DownPanel {
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}

/* line 113, ../sass/screen.scss */
.HightPanel {
  background-color: #62D995;
}

/* line 119, ../sass/screen.scss */
.DownPanel {
  background-color: #67B2E4;
}

/* line 125, ../sass/screen.scss */
.source {
  position: absolute;
  font-weight: bold;
  top: 5px;
  color: #27AE60;
}

/* line 133, ../sass/screen.scss */
.qoute {
  color: white;
  font-size: 15pt;
  max-width: 700px;
  text-align: center;
}
